@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color6: #50dfff;
    --color4: #ffff2a;
    --color5: #45ff4f;
    --color1: #ff45d1;
    --color2: #ff4545;
    --color7: #872cff;
    --color3: #ff7a0e;
    --color8: #ffffff;
    --color11: #ff45d144;
    --width: clamp(1px, 0.16vw, 3px);
    --imageURL: ""
}

body {
    min-height: 100vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
}

.bubbles{
    position: relative;
    height: 100vh;
}

span {
  --w: 4px;
    position: absolute;
    width: var(--width);
    height: var(--width);
    background: var(--color1);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 calc(var(--w)/4) var(--color11),
    0 0 calc(var(--w)* 2) var(--color1),
    0 0 calc(var(--w)* 4) var(--color1);
    animation: animateBubbles calc(500s/var(--i)) linear infinite;
    animation-delay: -100s;
    z-index: var(--z);

}
/* 
span:nth-child(7n+1) {
    background: #ffff2a;
    box-shadow: 0 0 0 5px #ffff2a44,
    0 0 25px #ffff2a,
    0 0 50px #ffff2a;
}

span:nth-child(7n+2) {
    background: #45ff4f;
    box-shadow: 0 0 0 5px #45ff4f44,
    0 0 25px #45ff4f,
    0 0 50px #45ff4f;
}

span:nth-child(7n+3) {
    background: #ff45d1;
    box-shadow: 0 0 0 5px #ff45d144,
    0 0 25px #ff45d1,
    0 0 50px #ff45d1;
}

span:nth-child(7n+4) {
    background: #ff4545;
    box-shadow: 0 0 0 5px #ff454544,
    0 0 25px #ff4545,
    0 0 50px #ff4545;
}

span:nth-child(7n+5) {
    background: #ff7a0e;
    box-shadow: 0 0 0 5px #ff7a0e44,
    0 0 25px #ff7a0e,
    0 0 50px #ff7a0e;
}

span:nth-child(7n+6) {
    background: #872cff;
    box-shadow: 0 0 0 5px #872cff44,
    0 0 25px #872cff,
    0 0 50px #872cff;
} */

@keyframes animateBubbles {
    0% {
        left: 110vw;
    }

    100% {
        left: -10vw;
    }
}

.color-buttons-container {
    z-index: 5;
    height: 30px;
    width: 310px;
    /* 40x -10 */
    position: absolute;
    display: flex;
    gap: 10px;
    top:5px;
    left:5px;
}

.color-button {
    background-color: red;
    width: 30px;
    cursor: pointer;
}

.color-button.colorSelected {
    outline: solid 5px white;

}



.player {
    padding: 30px;
    position: absolute;
    height: 5%;
    width: 15%;
    z-index: 1;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255,255,255,0.15);
    box-shadow:inset 0px 0px 10px 5px rgba(255,255,255, 0.2);
    border-radius: 25px;
    backdrop-filter: blur(3px);
  }
   
   
  .player-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
  }
   
  .playpause-track,
  .prev-track,
  .next-track {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
  }
   
  
  .slider_container {
    width: 75%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .seek_slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: white;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 3px;
  }
   
  .seek_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
   
  .seek_slider {
    width: 60%;
  }

  .current-time{
    width: 30px;
    text-align: right;
    font-size: 0.8rem;
    color: white;
    padding-right: 15px;
  }

  .total-duration{
    font-size: 0.8rem;
    color:white;
    padding-left: 15px;
  }
   
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward {
    cursor: pointer;
  }

  .track-pic {
    position: absolute;
    height: 20vw;
    width: 20vw;
    z-index: 1;
    bottom: 0px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    backdrop-filter: blur(4px);
    border-radius: 20px;
    filter: saturate(150%);
    /* box-shadow:inset 0px 0px 10px 10px rgba(255,255,255, 0.7); */
    animation: trackPicHover 2s ease-in-out alternate infinite;
    /* border: 10px solid;
    border-top-color: rgba(255,255,255,01);
    border-left-color: rgba(255,255,255,0.25);
    border-right-color: rgba(255,255,255,0.25);
    border-bottom-color: rgba(255,255,255,0.25); */
  }

  @keyframes trackPicHover {
    0% {
      transform: translateY(10px);
      box-shadow: inset 0px 0px 30px 10px rgba(255,255,255, 0.4);
      
    }

    100% {
      transform: translateY(-10px);
      
      box-shadow: inset 0px 0px 80px 20px rgba(255,255,255, 0.5);
    }
  }

  .track-pic::before {    
    content: "";
    background-image: var(--imageURL);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    border-radius: 20px;
  }

  @media only screen and (max-width: 1150px) {
    .slider_container{
      display: none;
    }
    .player-buttons {
      padding-bottom: 0px;
    }

    .color-buttons-container{
      display: none;
    }

    .track-pic{
      width: 50svw;
      height: 50svw;              
    }
    .player {
      padding: 10px 20px;
    }

    
  }

